.bg-success{
    background-color: #F2F2F2;
}

img.nav{
    width: 18rem;
}

div.nav{
    float: right;
    width: 50rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-family: "Segoe Script";
    color: #007499;
}

.topo{
    text-align: center;
}

a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #3EABCD;
}

.table{
    padding: 7rem;
}

th {
    background: #3EABCD;
    color: white;
}